.jumbotron-title{
    font-family: 'Catamaran';
    font-size: 150pt;
    font-weight: 900;
}

.card-body h1{
    font-size: 55pt;
    text-align: left;
}

.navbar {
    margin-top: -100px;
}


.city-name {
    font-size: 25pt;
    text-align: left;
}

.card-title {
    text-align: left;
}

.jumbotron-subtitle {
    font-style: italic;
    margin-top: -50px;
    margin-left: 35px;
    font-family: 'Nunito';
    font-weight: 200;
    font-size: 18pt
}

#five-day-title {
    padding: 8px;
    margin: 10px;
    text-align: left;
}

.hide {
    display: none;
}